/* Base Styles --------------------- */
* {
    box-sizing: border-box;
  }
  html {
    font-size: 1.25em; /* 20px on most screens */  
  }
  header {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 36px;
    color: red;
    background-color: black; 
  }
  body {
    font-family: Verdana;
    font-size: 18px;
  }
  img {
    width: 100%; /* responsive images */
  }
  
  
  /* Main Styles --------------------- */
  
  
  /* Media Queries ------------------- */