/* Base Styles --------------------- */
* {
    box-sizing: border-box;
  }
  html {
    font-size: 1.25em; /* 20px on most screens */  
  }
  header {
    padding: 10vh 1rem;
    margin: -1rem -1rem 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: white;
    background-image: linear-gradient(
      to right,
      red 0%,
      grey 100%
    );
    letter-spacing: 1rem;
  }
  main {
    hyphens: auto;
  }
  body {
    margin: 1rem;
    font-family: Verdana;
    font-size: 18px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
  p {
    line-height: 1.5;
  }
  img {
    width: 100%;
    
  }
  
  /* Media Queries ------------------- */
  @media screen and (min-width:769px) {
    body {
      width: 70%;
      max-width: 1000px;
      margin: 0 auto;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 45%;
    }
  }
  @media screen and (min-width:880px) {
    body {
      width: 85%;
      max-width: 1400px;
      margin: 0 auto;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  }